@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #e8f6f8;
  margin: 0;
  padding: 0; }

.welcome {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  /* position:fixed T T不给啥也没有 */
  background-color: #9da0a7;
  z-index: 2; }

.welcomeactive {
  display: flex; }

.loadingpage {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 999; }

.loadingpage::before, .loadingpage::after {
  animation: 1.5s loading;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  background-color: #000;
  /* bgcolor！ */
  transform: translate(-50%, -50%);
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.loadingpage::after {
  animation-delay: .75s; }

@keyframes loading {
  from {
    width: 0;
    height: 0;
    border-radius: 100%;
    opacity: 1; }
  to {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    opacity: 0; } }

.head {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  transition: all 1s;
  z-index: 2; }

.head-inner {
  padding: 0 16px; }

.logo {
  font-family: "Hiragino Kaku Gothic Std";
  font-size: 22px;
  padding-top: 2px;
  float: left; }

.logo span {
  font-size: 24px;
  font-family: 'Arial Black';
  height: 33px; }

.logo span:nth-child(1) {
  color: #2e7a88;
  margin-right: 4.5px; }

.logo span:nth-child(2) {
  color: #bee2e7; }

.navBar {
  font-size: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  float: right; }

.navBar ul {
  margin-top: 5px;
  padding: 0;
  list-style-type: none; }

.navBar ul li {
  float: left;
  margin: 0 17px;
  position: relative; }

.navBar ul li ul {
  position: absolute;
  word-break: keep-all;
  display: none; }

.navBar > ul > li > ul > li:hover {
  color: #1e535c; }

.navBarActive {
  display: block !important;
  background-color: white;
  right: 0;
  animation: .5s list; }

@keyframes list {
  0% {
    transform: translateX(-30%); }
  100% {
    transform: translateX(0); } }

.subli {
  padding: 5px;
  font-size: 12px; }

/* 子元素绝对定位，父元素未设置relative无效,绝对定位的元素宽度会内缩*/
.navBar ul li a {
  text-decoration-line: none;
  color: #b7b7b7;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 0;
  border-top: 3px solid transparent; }

/* .navBarbottom{
    transition: all 1s;
    border-bottom: 3px solid #bee2e7;
} */
.navBar > ul > li:hover::after {
  content: '';
  display: block;
  padding-top: 4px;
  position: absolute;
  top: 20px;
  background-color: #2e7a88;
  animation: .5s after;
  width: 100%; }

.active::after {
  content: '';
  display: block;
  padding-top: 4px;
  position: absolute;
  top: 20px;
  background-color: #2e7a88;
  animation: .5s after;
  width: 100%; }

@keyframes after {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

.navBar ul li {
  cursor: pointer; }

.navBarfont {
  color: #181616 !important;
  transition: all 1s; }

.navScroll {
  background-color: white;
  padding: 10px 0;
  /* animation: 1s sticky; */ }

/* @keyframes sticky{
    from{
        background-color: rgba(255, 255, 255, 0);
        padding:20px 0;
    }
    to{
        background-color: rgba(255, 255, 255, 1);
        padding: 10px 0;
    }
} */
.clearfix::after {
  display: block;
  clear: both;
  content: ''; }

.banner {
  width: 100%;
  height: 515px;
  background-image: url(img/flower.jpeg);
  background-size: cover;
  background-position: center center; }

.banner .mask {
  height: 515px;
  background-color: rgba(0, 0, 0, 0.5); }

.centerCard {
  max-width: 940px;
  background-color: white;
  margin: 0 auto;
  margin-top: -280px; }

.infoCard {
  padding: 50px; }

.infoCard .pic {
  float: left;
  margin-right: 65px; }

.rightInfo {
  width: 470px;
  float: left; }

.rightInfo > .hello {
  background-color: #2e7a88;
  color: white;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
  top: 5px; }

.rightInfo > .hello > .triangle {
  border: 10px solid #2e7a88;
  width: 0;
  border-top-width: 0;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: 100%;
  left: 4px; }

.rightInfo .name {
  margin-top: 35px; }

.rightInfo hr {
  margin: 16px 0;
  margin-bottom: 20px; }

.rightInfo dl dt {
  float: left;
  width: 30%;
  font-weight: bold;
  padding: 5px 0; }

.rightInfo dl dd {
  float: left;
  padding: 5px 0;
  width: 70%;
  color: #9da0a7; }

.footer {
  background-color: #2e7a88;
  text-align: center; }

.footer .icon {
  width: 30px;
  height: 30px;
  vertical-align: -0.15em;
  fill: #bee2e7;
  overflow: hidden;
  margin: 14px 10px;
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 50%; }

.footer .icon:hover {
  background-color: #1e535c; }

.moreInfo {
  margin-top: 32px;
  color: black;
  text-align: center; }

.moreInfo p {
  width: 940px;
  display: inline-block; }

.moreInfo .download {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 190px;
  margin: 0 auto;
  border: 1px solid #cdcfd1;
  text-align: center;
  padding: 0;
  font-size: 14px;
  transform: box-shadow 0.4s;
  border-radius: 2px; }

.moreInfo .download a {
  text-decoration-line: none;
  color: black; }

  .moreInfo .download a div{
    width: 190px;
    padding: 20px 0;
  }

.moreInfo .download:hover {
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
  background-color: #ecf8fa; }

.moreInfo > p {
  margin: 40px 0; }

.skillTitle {
  text-align: center;
  padding-bottom: 20px;
  color: #000;
  font-size: 40px;
  font-weight: bold; }

.skillProcess > ol > li,
.portfolioPart > nav > ol > li {
  list-style: none;
  float: left; }

.skillProcess > ol > li {
  width: 48%;
  font-size: 14px;
  margin-bottom: 40px; }

.skillProcess > ol > li:nth-child(even) {
  margin-left: 30px; }
#skill{
  margin-top: 60px;
}
.skill {
  margin: 0 auto;
  background-color: white;
  border: 1px solid #9da0a7;
  padding: 38px 38px 0;
  max-width: 860px; }

.skillProcess .processLine,
.portfolioPart .portfolioBar,
.portfolioBar-1,
.portfolioBar-2,
.portfolioBar-3 {
  height: 8px;
  background-color: #bee2e7;
  border-left: 100px solid #2e7a88;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 10px; }

.portfolioPart {
  max-width: 940px;
  margin: 50px auto;
  text-align: center;
  position: relative; }

.portfolioPart > .portfolio {
  height: 597px; }

.portfolioPart > nav {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 18px; }

.portfolioPart > nav > ol > li {
  margin: 0 12px;
  cursor: pointer; }

.portfolioPart .portfolioBar {
  border-left: 60px solid #2e7a88; }

.portfolioBar-1 {
  border-left-width: 50px; }

.portfolioBar-2 {
  border-left: 65px solid #bee2e7;
  border-right: 120px solid #bee2e7;
  background-color: #2e7a88; }

.portfolioBar-3 {
  border-left-width: 0px;
  border-right: 115px solid #2e7a88; }

.portfolioPart > .portfolio > div {
  float: left; }

.portfolioPart > .portfolio > .one {
  margin-right: 52px; }

.portfolioPart > .portfolio > .two {
  margin-bottom: 21px; }

.swiper-container {
  width: 100%;
  height: 95%;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #e8f6f8;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.msgbox {
  max-width: 940px;
  margin: 50px auto;
  text-align: left;
  position: relative;
  padding: 0 90px; }

.msgbox #msgtext {
  width: 94%;
  height: 200px;
  display: block;
  margin: 0 auto; }

.msgbox #sbmbtn {
  padding: 5px 15px;
  margin: 3px auto 8px 26px;
  background-color: #1e535c;
  color: #bee2e7;
  border-radius: 3px; }

.msgbox #showmsg > div > div {
  margin: auto 26px;
  padding: 15px 15px;
  padding-top: 10px;
  border-bottom: 0.2px solid #bed4d8; }

.msgbox #showmsg > div > span {
  margin: auto 26px;
  display: block;
  font-size: 12px;
  color: #a2c9cf; }
